<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Composition 1</title>
</head>
<body>
<h1>Name: {{.Name}}</h1>
<h2>Age: {{.Age}}</h2>
<h3>Licence to Kill: {{if .LicenceToKill}} Yes {{else}} No {{end}}</h3>
</body>
</html>